.main-banner {
    width: 100%;
    height: 791px;
    background-image: url("https://cdn.zeplin.io/610079a8a166fd10c34366e0/assets/A233F48A-0204-46B2-9465-67D8BA488366.png");
    background-size: cover;
    background-repeat: no-repeat;
}
