@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.subbanner {
    width: 100%;
    height: 456px;
    background-image: url("../img/introduction-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    .content {
        width: 667px;
        margin-left: 150px;
        .title {
            color: white;
            font-family: "Montserrat-ExtraBold", sans-serif;
            font-size: 50px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: 5px;
            text-align: left;
        }
        .body {
            color: white;
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.75;
            letter-spacing: normal;
            text-align: left;
        }
    }
}
